.fejlec{
    background-image: url(kepek/hero.jpg);
    height: 100vh;
    background-size: cover;
    
}
.tartalom{
    width: 80%;
    max-width:fit-content;
    margin: auto;
    color: #ffffff;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.menu ul{
    list-style-type: none;
    padding: 10;
    margin: 10;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap:10px;
}
.menu{
    padding:20px;
   
}
.menu ul a{
    text-decoration: none;
}
#gomb1{
    background-color: orangered;
    border-radius: 20px;
    padding: 10px 40px 10px 40px;
    margin: auto;
    color: #ffffff;    
}
#gomb2{
    background-color: orangered;
    border-radius: 20px;
    padding: 10px 20px 10px 20px;
    margin: auto;
    color: #ffffff; 
}
.gomb3{
    background-color: orangered;
    border-radius: 20px;
    padding: 10px 50px 10px 50px;
    margin: 10px;
    text-align: center;
    text-decoration: none;
    color:#ffffff;
}

#alcim{
    color:#ffffff65;
   padding: 10px;
}

/*MÁSODIK DIV*/

.masodik{
    background-color: black;
    width: 100%;
    max-width:fit-content;
    margin: auto;
    color: #ffffff;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.menuMasodik ul{
    list-style-type: none;
    padding: 10;
    margin: 10;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:20px;
}
.menuMasodik{
    padding:20px;
    padding-bottom: 100px;
   
}
.menuMasodik ul a{
    text-decoration: none;
}

.cimMasodik{
    padding: 10px;
    padding-top: 100px;
    margin: 0px;
}
#gomb4{
    background-color: orangered;
    border-radius: 30px;
    padding: 20px 80px 20px 80px;
    margin: auto;
    color: #ffffff;  
    font-size: 20px;
}